.main {
    background-color: #282c34;
    margin-top: -1rem;
    border-bottom: solid 2rem;
    border-bottom-color: #282c34;
    min-width: 100vh;
}

.header {
    background-color: #282c34;
    display: flex;
    justify-content: right;
    font-family: Georgia;
    color: white;
}

.header-main {
    margin-inline: 4rem;
}

.header-item {
    align-items: center;
    display: inline-block;
    padding-inline: 0.5rem;
}

.home {
    background-color: orange;
    min-width: 75vh;
    margin-inline: 3rem;
    font-family: Georgia;
    border-radius: 15px;
}

.home-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: -.5rem;
}

.home-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid;
    border-top-color: black;
    margin-inline: 1rem;
}

.home-MOTD-big {
    margin-inline: 3rem;
    background-color: whitesmoke;
    border-radius: 15px;
    margin-top: 0.5rem;
}

.home-MOTD-small {
    padding: 0.5rem;
    padding-inline: 1rem;
    font-family: Georgia;
}

.MOTD-subtitle {
    justify-content: center;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: -1rem;
    background-color: #e4e4e4;
    border-radius: 15px;
}

.MOTD-title {
    justify-content: center;
    text-align: center;
    padding-top: 0rem;
    background-color: #e4e4e4;
    border-radius: 15px;
}

.MOTD-message {
    background-color: #e4e4e4;
    border-radius: 15px;
}

.MOTD-image {
    border: solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20rem;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
